/** CV PREVIEW */
#cv {
  background-color: rgb(255, 255, 255);
}

#cv .cv-inner {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  // place-content: center;
  padding: 1rem;

  background-color: rgb(187, 184, 187);
  height: 100vh;
}

#cv .cv-container {
  background-color: white;
  max-width: 32vw;
  margin-inline: auto;
  width: 100%;
  aspect-ratio: 0.707;
  overflow: hidden;
  padding: 3rem 4rem;
}

/** CV STYLING */
#cv {
  font-size: 0.8rem;
  .row {
    display: flex;
    justify-content: space-between;
  }
  .date {
    font-weight: 900;
  }

  li {
    margin-top: 1rem;
    list-style: none;
  }

  h2 {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
