header {
  background-color: rgb(38, 9, 44);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media print {
  header {
    display: none;
  }
}
